* {
  margin: 0;
  padding: 0;
  text-align: center;
}
h2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

form {
  margin: 0;
  padding: 0;
}
form div {
  margin: 10px;
}
label {
  display: block;
  margin: 10px;
}
input {
  margin: 2px;
  padding: 3px 2px;
  font-size: 20px;
}
input:invalid,
input:required:invalid {
  border: none;
  outline: 2px solid red;
  border-radius: 2px;
}
input:valid,
input:required {
  border: 1px solid lightgreen;
  outline: inherit;
  border-radius: inherit;
}
.tombol {
  background-color: #08d98c;
  margin: 5px;
  color: rgb(15, 12, 12);
  padding: 10px 22px;
  text-align: center;
  font-size: 16px;
  border-radius: 10%;
  margin-top: 30px;
  cursor: pointer;
}

.tombol:hover {
  transition-duration: 0.2s;
  background-color: green;
  color: white;
}
.reg {
  background-color: rgb(193, 189, 189);
}
.reg:hover {
  background-color: gray;
  color: white;
  transition-duration: 0.2s;
}
a {
  margin-top: 20px;
}
